<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="FilePath" value="C:\DummyProjects\SSDT\Pepper.Database\bin\Debug\Pepper.Database.dacpac"/>
    -->
    <add key="FilePath" value="C:\Articles\Jenkins"/>
    <!-- If the target db is not already present, it is created-->
    <add key="TargetDB" value="PepperDB"/>
    <!--
    <add key="TargetDB" value="PepperEC206.28.14_Copy"/>
    -->
    <add key="SourceDB" value="PepperEC206.28.14"/>
    <add key="OperationType" value="4"/>
  </appSettings>
  <connectionStrings>
    <add name="SourceServer" connectionString="Data Source=(local);Integrated Security=SSPI;Trusted_Connection=True;"/>
    <!--
    <add name="TargetServer" connectionString="Data Source=(local);Integrated Security=SSPI;Trusted_Connection=True;"/>
    <add name="TargetServer" connectionString="Server=tcp:qnu0gm0tor.database.windows.net,1433;Database=PepperDB;User ID=dbuser@qnu0gm0tor;Password=Passw0rd!;Trusted_Connection=False;Encrypt=True;"/>
    -->
    <add name="TargetServer" connectionString="Server=tcp:lw8puwzy0y.database.windows.net,1433;Database=PepperDB;User ID=dbuser@lw8puwzy0y;Password=Passw0rd!;Trusted_Connection=False;Encrypt=True;"/>
   </connectionStrings>
</configuration>